.background-color {
	position: absolute;
	margin-top: -5em;
	width: 100%;
	height: 300px;
	background-color: #e0e0e0;
}

.main-card-container {
	margin-top: 5em;
}

mat-card {
	display: block;
	margin: auto;
	width: 80%;
}

.contact-card-container {
	margin-top: 7em;
}

.contact-card p {
	text-align: center;
}

li h3 {
	color: black;
}

h1,
h3,
h4,
ul {
	text-align: center;
}

.icons {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

i {
	margin-left: 0.5em;
	margin-right: 0.5em;
	color: #1976d2;
}

i:hover {
	cursor: pointer;
	color: #2196f3;
}

mat-card-content h3 {
	margin-top: 2em;
	margin-bottom: 0;
	color: black;
}

h3 {
	color: #616161;
}

li {
	color: #616161;
}

.education {
	display: flex;
	justify-content: center;
}

.education li {
	text-align: left;
}

.education h3,
.skills h3 .experince h3 {
	color: #000000;
}

.skills h3 {
	margin-top: 0;
	text-align: center;
}

.skills p {
	display: flex;
	justify-content: center;
	color: #616161;
}

.experince-card {
	margin-top: 1em;
}

h2 {
	text-align: center;
}

h4 {
	margin-bottom: 0;
}

.project-card h3 {
	margin-top: 0;
	margin-bottom: 1em;
}

.experince p,
.project-content p {
	display: flex;
	justify-content: center;
	color: #616161;
}

.project-card i {
	cursor: auto;
}

.project-card i:hover {
	color: #1976d2;
}

iframe {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 400px;
}
