<div class="home-container">
    <div class="header-bottom">
        <div class="container">
            <div class="main-card-container">
                <mat-card>
                    <h1>Justin Clappsy</h1>
                    <h3>Javascript developer</h3>
                    <p>Justinc9877@gmail.com</p>
                    <p>732-856-1660</p>
                    <div class="icons">
                        <i class="far fa-file" (click)="openResume()"
                        matTooltip="Open Resume(pdf)"
                        matTooltipPosition="above"
                        ></i>
                        <i class="fas fa-phone"
                        matTooltip="Call 732-856-1660"
                        matTooltipPosition="above">
                        </i>
                        <i class="fas fa-envelope"
                        matTooltip="Email Justinc9877@gmail.com"
                        matTooltipPosition="above"></i>
                        <i class="fab fa-linkedin-in"
                        matTooltip="View Linkedin"
                        matTooltipPosition="above"></i>
                        <i class="fab fa-github"
                        matTooltip="View Github"
                        matTooltipPosition="above"></i>
                    </div>

                    <mat-divider class="card-divider"></mat-divider>
    
                    <mat-card-content>

                        <h3>Education</h3>
                        <div class="education">
                            <ul> 
                                <li>
                                    Monmouth Univeristy, West Long Branch, New jersey
                                </li>
                                <li>Bachelor of Computer Science, concentration in Applied Computing</li>
                                <li>Academic Minor in Information Technology</li>
                                <li>Academic cumulative GPA: 3.358</li>
                            </ul>
                    </div>

                    <div class="skills">
                        <h3>Skills</h3>
                        <p>Angular + typescript, Javascript, HTML, CSS, Angular Material, Node.js, Express, MongoDB, PostgreSQL, Java, C++</p>
                    </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>

